html {
    height: 100%
}

body {
    background-image: url("../../lib/img/background.gif"),
                      url("../../lib/img/background2.jpg");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
}

#topHeading {
    width: 100%;
    position: relative;
    text-align: center;
}

#nameHeading {
    color: #337ab7;
    font-weight: bold;
    font-size: 5em;
    font-family: Calibri !important;
    font-style: italic;
}
