html {
    height: 100%
}

body {
    background-image: url("../../lib/img/background.gif"),
                      url("../../lib/img/background2.jpg");
    background-repeat: no-repeat;
    background-position: left top, right top;
}

.logo {
    width: 150px;
    margin-bottom: 2%;
}

.schoolLogo {
    width: 80px;
    margin-right: 1%;
}

#aboutMe {
    margin: 2%;
    border-style: dashed;
    border-color: grey;
    padding: 2%;
    height: 100%;
    overflow: auto;
}

#aboutMeLogos {
    text-align: center;
}

#aboutMeText {
    text-align: justify;
    padding: 4%;
}

#contactMe {
    font-style: italic;
}

#experience {
    margin: 2%;
    border-style: dashed;
    border-color: grey;
    padding: 2%;
}

#jobDescription {
    text-align: justify;
}

#jobTitle {
    font-weight: bold;
    font-size: 16px;
}

#leftColumn-experience {
    width: 70%;
}

#rightColumn-experience {
    width: 30%;
    text-align: right;
    font-style: italic;
}

#main {
    margin-top: 2%;
}

#myPic {
    width: 200px;
}

#nameHeading {
    color: #337ab7;
    font-weight: bold;
    font-size: 5em;
    font-family: Calibri !important;
    font-style: italic;
}

#projects {
    margin: 2%;
    border-style: dashed;
    border-color: grey;
    padding: 2%;
}

#schools {
    margin-top: 5%;
}

#topHeading {
    width: 100%;
    position: relative;
    text-align: center;
}

#myCarousel .nav {
    background: #eee;
}

.nav-pills>li[data-slide-to="0"].active a { background-color: #2980b9 !important; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #16a085 !important; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #e67e22 !important; }
